<ion-view view-title=" " class="phone-bg">

    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <div class="padder"></div>
            <div class="text-center padding">
                <img class="logo" src="img/spingr.png">
                <h5 class="light">Please enter your mobile number</h5>

                <div class="input-holder">
                    <div class="row">
                        <div class="col col-20">
                            <input type="tel" value="+91" class="text-center">
                        </div>
                        <div class="col">
                            <input type="tel" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>

                <p class="light thin"><span class="bold">Note:</span> OTP(One Time Password) will be sent on the above number.</p>

                <button class="button button-outline button-block button-positive button-50" ng-click="next();">Submit</button>

            </div>
        </ion-slide>
        <ion-slide ng-controller="AppCtrl">
            <div class="padder"></div>
            <div class="text-center padding">
                <img class="logo" src="img/spingr.png">
                <h5 class="light">Please enter OTP</h5>

                <div class="input-holder">
                    <div class="row">
                        <div class="col col-75 auto-margin">
                            <input type="text" placeholder="Enter OTP" class="text-center" ng-model="otp">
                        </div>
                    </div>
                </div>

                <p class="light thin"><span class="bold">Note:</span> The OTP is send to your mobile number, please check your SMS inbox.</p>

                <a class="button button-outline button-block button-positive button-50" href="#/profile/mycard">Submit</a>

            </div>

            <div class="text-right">
                <span class="linked" ng-click="showAlert();">Didn't get OTP?</span>
            </div>
        </ion-slide>
    </ion-slide-box>

</ion-view>