<ion-nav-bar class="bar-positive has-tabs-top" align-title="center">
    <ion-nav-back-button>
        Back
    </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

    <ion-tab title="My Card" href="#/profile/mycard">
        <ion-nav-view name="profile-mycard"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Personal Details" href="#/profile/personal">
        <ion-nav-view name="profile-personal"></ion-nav-view>
    </ion-tab>

</ion-tabs>