<ion-view view-title="SpingR">
    <ion-content class="padding">
        <div class="card-effect myprofile-card">
            <div class="addlogo">Add company logo</div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Your name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Your designation">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Company name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Line of business">
                </label>
            </div>
        </div>

        <div class="card-effect">
            <div class="heading">
                Office Address
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City/District">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State/Provision">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PinCode/Zipcode">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Country">
                </label>
            </div>
        </div>
        <div class="card-effect">
            <div class="heading">
                Contact Details
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Mobile Number">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Direct Landline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Board Landline">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Extension">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email ID">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Website">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Record GPS">
                </label>
            </div>
        </div>

        <a class="button button-positive button-outline button-block" href="#/profile/personal">Save &amp; Proceed</a>
    </ion-content>
</ion-view>