<ion-view view-title="SpingR">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ln-share small-icon">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="vcard">
           
            <div class="picture" style="background-image: url('{{contact.image}}');"></div>
            <div class="company" style="background-image: url('{{contact.logo}}');"></div>
            
            <div class="in-vcard">
                <h1 ng-bind="contact.name"></h1>
                <h2>Alias Name <i class="icon ln-pencil"></i></h2>
            </div>
            <div class="in-vcard">
                <h1 ng-bind="contact.designation">Designation</h1>
                <h2 ng-bind="contact.company"></h2>
                <h2 ng-bind="contact.area"></h2>
            </div>
            <div class="in-vcard">
                <h3 ng-bind="contact.number"></h3>
                <h3 ng-bind="contact.number"></h3>
                <h3 ng-bind="contact.email"></h3>
            </div>

        </div>
    </ion-content>
</ion-view>