<ion-view>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-search small-icon animate-if" ng-click="showsearch();" ng-if="filterbtn == false;"></button>

        <button class="button button-icon ln-funnel small-icon animate-if" ng-click="openfilter();" ng-if="filterbtn == true;"></button>

        <button class="button button-icon ion-android-more-vertical small-icon" ng-click="openPopover();"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <h1 class="title animate-if" ng-if="search == false;">SpingR</h1>
        <div class="animate-if headersearch" ng-if="search == true;">
            <input type="text" ng-keypress="filtertoggle($event);">
        </div>
    </ion-nav-title>


    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar2" ng-repeat="contact in contacts" type="item-text-wrap" ng-click="hidedialer();" on-hold="call(contact.number);" href="#/circle/circle1/{{contact.id}}">

                <div class="picture" style="background-image: url('{{contact.image}}');"></div>

                <div class="card-style">
                    <h2 class="positive">{{contact.name}}</h2>

                    <p class="stable">
                        {{contact.company}}
                        <br>{{contact.area}}
                    </p>

                    <div class="company" style="background-image: url('{{contact.logo}}');"></div>
                </div>

                <ion-option-button class="button-large button-positive ln-comments"></ion-option-button>
                <ion-option-button class="button-large button-positive ln-phone" ng-click="call(contact.number);">
                </ion-option-button>
                <ion-option-button class="button-large button-positive ln-comment" ng-click="sms(contact.number);"></ion-option-button>
                <ion-option-button class="button-large button-positive ln-envelope" ng-click="mail(contact.email);"></ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>