<ion-view>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-search small-icon animate-if" ng-click="showsearch();" ng-if="filterbtn == false;"></button>

        <button class="button button-icon ln-funnel small-icon animate-if" ng-click="openfilter();" ng-if="filterbtn == true;"></button>

        <button class="button button-icon ion-android-more-vertical small-icon" ng-click="openPopover();"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <h1 class="title animate-if" ng-if="search == false;">SpingR</h1>
        <div class="animate-if headersearch" ng-if="search == true;">
            <input type="text" ng-keypress="filtertoggle($event);">
        </div>
    </ion-nav-title>

    <!--  Dialer UI  -->
    <div class="dialer" ng-class="{'showen': showdailer==true}">
       <!--DIAL BUTTON-->
    <button class="button button-round button-fixed ln-icons button-positive dialUP" ng-click="showdailer = !showdailer;"></button>
    <!--DIAL BUTTON-->
        <div class="dialer-bar">
            <input type="text" class="phone number" ng-model="phone.number" disabled>
            <button class="button-icon button ln-delete" ng-click="phoneback();" on-hold="phonedelete();"></button>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum(1);" on-hold="phonenum('#');">
                <div class="number-holder">
                    <h2 class="positive">1</h2><span class="light-content">#</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(2);">
                <div class="number-holder">
                    <h2 class="positive">2</h2><span class="light-content">ABC</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(3);">
                <div class="number-holder">
                    <h2 class="positive">3</h2><span class="light-content">DEF</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum(4);">
                <div class="number-holder">
                    <h2 class="positive">4</h2><span class="light-content">GHI</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(5);">
                <div class="number-holder">
                    <h2 class="positive">5</h2><span class="light-content">JKL</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(6);">
                <div class="number-holder">
                    <h2 class="positive">6</h2><span class="light-content">MNO</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum(7);">
                <div class="number-holder">
                    <h2 class="positive">7</h2><span class="light-content">PQRS</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(8);">
                <div class="number-holder">
                    <h2 class="positive">8</h2><span class="light-content">TUV</span>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(9);">
                <div class="number-holder">
                    <h2 class="positive">9</h2><span class="light-content">WXYZ</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button" ng-click="phonenum('*');">
                <div class="number-holder number-center">
                    <h2 class="positive" style="margin-top: 5px;">*</h2>
                </div>
            </div>
            <div class="col button" ng-click="phonenum(0);" on-hold="phonenum('+');">
                <div class="number-holder">
                    <h2 class="positive">0</h2><span class="light-content">+</span>
                </div>
            </div>
            <div class="col button button-balanced" ng-click="call(phone.number);">
                <div class="number-holder number-center">
                    <h2 class="positive icon ion-ios-telephone"></h2>
                </div>
            </div>
        </div>
    </div>
    <!--  Dialer UI  -->

    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar2" ng-repeat="contact in contacts" type="item-text-wrap" ng-click="hidedialer();" on-hold="call(contact.number);" href="#/tab/spingbook/{{contact.id}}">

                <div class="picture" style="background-image: url('{{contact.image}}');"></div>

                <div class="card-style">
                    <h2 class="positive">{{contact.name}}</h2>

                    <p class="stable">
                        {{contact.company}}
                        <br>{{contact.area}}
                    </p>

                    <div class="company" style="background-image: url('{{contact.logo}}');"></div>
                </div>

                <ion-option-button class="button-large button-positive ln-comments"></ion-option-button>
                <ion-option-button class="button-large button-positive ln-phone" ng-click="call(contact.number);">
                </ion-option-button>
                <ion-option-button class="button-large button-positive ln-comment" ng-click="sms(contact.number);"></ion-option-button>
                <ion-option-button class="button-large button-positive ln-envelope" ng-click="mail(contact.email);"></ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>